<section class="slider">
  <div class="container to-100-per-990">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="slider_content">
          <ul class="social-icon-list">
            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>

          </ul>
          <h1 class="slider_content-title">Des solutions logicielles sur mesure pour booster votre activité
          </h1>
          <p class="slider_content-p">Chez BHInternet, nous concevons des logiciels personnalisés qui répondent
            exactement aux besoins spécifiques de votre entreprise. Nos experts vous accompagnent à
            chaque étape, de l’idée initiale à la mise en œuvre, pour garantir des solutions efficaces et
            performantes.</p>
            <div class="slider_button">
              <div class="slider_button-btn">
                <a href="{% link nos-services.html %}" class="slider_button-btn--1">Nos services  <span></span></a>
              </div>
              <div class="slider_button-btn">
                <a href="{% link contact.html %}" class="slider_button-btn--2">Contactez-nous <span></span></a>
              </div>
            </div>
        </div>
      </div>
      <div class="col-lg-6" data-tilt="">
        <div class="slider_image" style="will-change: transform;transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);">
          <img src="../assets/img/slider-right.png" alt="" class="slider_image-img">
        </div>
      </div>
    </div>
  </div>
  <div class="creative-shape">
    <img src="../assets/img/slider-bottom.png" alt="svg shape">
</div>
</section>